html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
   font-family: "Arial", "FreeSans", sans-serif;
   color: #444;
   margin: auto;
   max-width:50em;
   background-color: #eee;
   line-height: 1.4;
   padding: 1em;

}

h1,h2,h3,h4,h5,h6 {
   color: #555;
}

h2 {
   font-size: 130%;
}
h3 {
   font-size: 100%;
}

table,tr,td,th {
   border-style: solid;
   border-width: 1px;
}

pre, code {
    font-family: 'DejaVu Sans Mono','Bitstream Vera Sans Mono','Monaco','Consolas','Courier New';
    font-size: .82em;
}

pre {
    border: 0.15em solid #ddd;
    border-left: 1em solid #ddd;
    display: block;
    padding: 1em 1em 1em 2em;
}
